.about {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  flex-wrap: wrap-reverse;
}
.about h2 {
  font-weight: 800;
  font-size: 69px;
  color: #ffffff;
  margin: 0;
}
.about p {
  width: 460px;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #a3a3a3;
}
@media (max-width: 428px) {
  .about {
    padding: 10px 20px;
  }
  .images .mini-pizza {
    width: 110px;
    height: 110px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(60%);
  }
  .images .fries {
    width: 110px;
    height: 110px;
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(-65%);
  }
  .about h2 {
    font-size: 48px;
  }
  .about p {
    width: 330px;
    font-size: 14px;
    line-height: 120%;
  }
  .more-pizza {
    width: 345px;
    height: 130px;
    margin: 0 0 0 -20px;
  }
}
