.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 80px 0px 80px;
  position: relative;
}
.logo {
  font-size: 34px;
}
.nav {
  display: flex;
  gap: 20px;
}
.nav ul {
  display: flex;
  gap: 20px;
}
.nav ul a {
  font-size: 18px;
  color: #a3a3a3;
  transition: 0.3s ease;
}
.nav ul a:hover {
  color: #ff6432;
}
.bars {
  display: none;
  font-size: 26px;
  cursor: pointer;
}
.btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-icon {
  position: relative;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-count {
  position: absolute;
  top: -5px;
  right: -8px;
  background: red;
  color: #fff;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 50%;
}
/* Mobile */
@media (max-width: 428px) {
  .header {
    padding: 10px 20px;
  }
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background: linear-gradient(
      245.71deg,
      #170a00 4.96%,
      #170600 33.7%,
      #0f0700 68.41%,
      #170a00 96.42%
    );
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.8s ease-in-out;
    z-index: 1001;
  }
  .logn-btn {
    display: none;
  }
  .nav.open {
    right: 0;
  }
  .nav ul {
    flex-direction: column;
    gap: 30px;
  }
  .bars {
    display: block;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
